html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	/* background: url(../../images/bg-2.jpg) repeat center center fixed !important;
	background-size: cover; */
	/* background: red repeat center center fixed !important; */
	height: auto !important;
}
.step-bg{
	background: url(../../images/bg-2.jpg) repeat center center fixed !important;
	background-size: cover;
}
.padding-css{
	padding:1% !important;
}
.step-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh	; /* Set to 100% of the viewport height */
}

.step-content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
}

/* Add these styles to center the content */
.step-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set to 100% of the viewport height */
}
	.pg-header{
		position : relative;
		height: 50px;
		/* background-image: url(/images/brodcrum.png) !important; */
	}
	
	.install_title{
		position: absolute;
		left: 32%;
		height: 41px;
		top: 0;
		line-height: 2em;
		padding-right: 35px;
		padding-left: 35px;
		/* background: #F6FEFF; */
		color: #fff;
		border-radius: 5px;
	}

	.wizard > .content {		
		background: #f6feff;
		/*background : url("../../webroot/img/body_bg.png");*/
		background-repeat : repeat;
		min-height: 31em;
		margin-left : 0;
		margin-right : 0 ;
		margin-top : 0 ;
	}
	.wizard > .steps {
		margin-top: 0.5em;
		min-width: 736px;
	}
	.wizard > .steps .disabled a{
		background: #f6feff;
	}
	.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active{
		/* background:#f6feff; */
		/* background : url("../../webroot/img/body_bg.png"); */
		background-repeat : repeat;
	}
	.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active{
		background:#1DB198;
	}
	.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
		/* background: #88dacc; */
		background :#404E67;
		color: #fff;
	}
	.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
		/* background: #1DB198; */
		background :#404E67;
		color: #fff;
		display: block;
		padding: 0.5em 1em;
		text-decoration: none;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	p {
		color: #464F5C;/*#005244;*/
	}
	
hr {
   border: 0;
   border-top: 1px solid #dedede;
}
/* .sussessmsg{
	width:100%;
	float:left;
	height:500px;
}
.sussessmsg .msg{
	margin:auto 0;
} */

/* .actions.clearfix a {
    background: #ff0000 none repeat scroll 0 0;
} */
.msg{
	font-size : 0px;
	width : 60px;
	height : 0px;
}
.suc , .des{
	width: 60px;
	position : absolute;
	
}
table tr{
	height : 50px;
}
#mbstring-error,#version-error,#intl-error{
	font-size : 0px;
}
@media (max-width : 768px) {
	.step-content {
		position: relative;
		padding-top: 15px;
		width: 88%;
	  }
	  .step-bg{
		height: 100vh;
	  }
	  .wizard > .steps {
		min-width: 267px;
	}
	}
/* @media (min-width : 768px)  and (max-width : 1120px) {
	  .step-bg{
		height: 115vh;
	  }
	} */
	/* .wizard > .steps > ul > li{
	  width: 100%;
	} */
	@media (max-width : 425px ) {
		.wizard > .steps > ul > li{
	  width: 50%;
	}
	}
	/* .database-setup-section {
		min-height: 300px !important; /* Adjust the value as needed */
	/* } */ */
 .content > .database-setup-section{
		height: 800px !important ;
	}
	
	@media (max-width : 320px ) {
		.wizard > .steps > ul > li{
	  width: 99%;
	}
	.wizard > .steps a{
		margin: 0px 0em 0.5em;
		padding: 0px 5px 0px 7px;
	}
	.step-bg{
		height: 105vh;
	  }

	}

	@keyframes fadeInOut {
		0% { opacity: 0; transform: translateY(-20px); }
		50% { opacity: 0.5; transform: translateY(-10PX); }
		100% { opacity: 1; transform: translateY(0px); }
	  }
	  
	  @keyframes shake {
		0%, 100% {
		  transform: translateX(0);
		}
		10%, 30%, 50%, 70%, 90% {
		  transform: translateX(-5px);
		}
		20%, 40%, 60%, 80% {
		  transform: translateX(5px);
		}
	  }
	  
	  .text-fade-in-out {
		animation: fadeInOut 1s ease-in;
  font-weight: bold; /* Make the text bold */
  font-size: 15px; /* Adjust the font size */
	  }
	  
	  #text-shake {
		animation: shake 0.5s;
		font-weight: bold;
		font-size: 15px;
	  }
	  #checkConnectionBtn {
		background: #1DB198;
	  }

	  #connectionStatus{
		padding-left: 10px;
	  }
	  



	  .password-input-container {
		position: relative;
	}
	
	.password-input-container .field-icon {
		position: absolute;
		top: 50%;
		right: 10px; /* Adjust the right spacing as needed */
		transform: translateY(-50%);
		cursor: pointer;
		color: #888; /* Adjust the color as needed */
	}