<!-- MultiStep Form -->
<div class="row m-0">
<div class="container">
    <div class="col-md-12 col-md-offset-3">
        <!-- <form id="msform" action="/installation" class="needs-validation form form-horizontal" novalidate method="POST" id="install-form"> -->
        <form id="msform" action="/installation" method="POST" id="install-form">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Database Details</li>
                <li>Login Detils</li>
                <li>Finish</li>
            </ul>
            <!-- fieldsets -->
			
            <fieldset>
                <h2 class="fs-title">Database Details</h2>
                <h3 class="fs-subtitle">Enter your database details</h3>
                <input type="text" name="dbname" placeholder="Database Name" id="dbname" onblur="validate(1)"/><span class="message"></span>
                <input type="text" name="dbuname" placeholder="Database User Name" id="dbuname" onblur="validate(2)"/><span class="message2"></span>
                <input type="password" name="dbpass" placeholder="Database Password" id="dbpass" onblur="validate(3)"/><span class="message3"></span>
                <input type="text" name="host" placeholder="Host" id="host" onblur="validate(4)"/><span class="message4"></span>
                <input type="button" name="next"  onclick="validate(0)" class="next action-button step1" value="Next"/>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Login Detils</h2>
                <h3 class="fs-subtitle">Fill in your credentials</h3>
                <input type="text" name="email" placeholder="Username" id="uname" onblur="validation(5)"/><span class="message5"></span>
                <input type="password" name="pass" placeholder="Password" id="passw" onblur="validation(6)"/><span class="message6"></span>
                <input type="password" name="cpass" placeholder="Confirm Password" id="cpassw" onblur="validation(7)"/><span class="message7"></span>
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next"  onclick="validation(0)" class="nextab action-button" value="Next"/>
            </fieldset>
            <fieldset>
               <h2 class="fs-title">Finish</h2>
                <h3 class="fs-subtitle " style="float:left">Please Note:</h3>
				<p class="fs-subtitle" style="float:left">1). It may take couple of minutes to set-up database.</p>
                <p class="fs-subtitle" style="float:left">2). Do not refresh page after you click on install button.</p>
                <p class="fs-subtitle" style="float:left">3). You will be acknowledged with success message once installation is finished</p>
                <p class="fs-subtitle" style="float:left">4). Click on install to complete the installation</p>
				
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
				<input type="submit" name="submit" class="submit action-button" value="Install"/>
            </fieldset>
        </form>
    </div>
    </div>
</div>
<!-- /.MultiStep Form -->

<script>
	
//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches

$(".previous").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	previous_fs = $(this).parent().prev();
	
	//de-activate current step on progressbar
	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
	
	//show the previous fieldset
	previous_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

$(".submit").click(function(){
	return false;
})


</script> 
<script> 
function validate(val) {
	v1 = document.getElementById("dbname");
	v2 = document.getElementById("dbuname");
	v3 = document.getElementById("dbpass");
	v4 = document.getElementById("host");

	flag = true;

	if(val>=1 || val==0) {
		if(v1.value == "") {
			v1.style.borderColor = "red";
			$('.message').html('Database name is required.');
			flag = false;
		}
		else {
			v1.style.borderColor = "green";
			$('.message').html('');
			flag = true;
		}
	}

	if(val>=2 || val==0) {
		if(v2.value == "") {
			v2.style.borderColor = "red";
			$('.message2').html('Database user name is required.');
			flag = false;
		}
		else {
			v2.style.borderColor = "green";
			$('.message2').html('');
			flag = true;
		}
	}
	if(val>=3 || val==0) {
		if(v3.value == "") {
			v3.style.borderColor = "red";
			$('.message3').html('Database Password is required.');
			flag = false;
		}
		else {
			v3.style.borderColor = "green";
			$('.message3').html('');
			flag = true;
		}
	}
	if(val>=4 || val==0) {
		if(v4.value == "") {
			v4.style.borderColor = "red";
			$('.message4').html('Host is required.');
			flag = false;
		}
		else {
			v4.style.borderColor = "green";
			$('.message4').html('');
			flag = true;
		}
	}
	if(val>=5 || val==0) {
		if(v5.value == "") {
			v5.style.borderColor = "red";
			$('.message5').html('Username is required.');
			flag = false;
		}
		else {
			v5.style.borderColor = "green";
			$('.message5').html('');
			flag = true;
		}
	}
	if(val>=6 || val==0) {
		if(v6.value == "") {
			v6.style.borderColor = "red";
			$('.message6').html('Password is required.');
			flag = false;
		}
		else {
			v6.style.borderColor = "green";
			$('.message6').html('');
			flag = true;
		}
	}
	if(val>=7 || val==0) {
		if(v7.value == "") {
			v7.style.borderColor = "red";
			$('.message7').html('Confirm Password is required.');
			flag = false;
		}
		else {
			v7.style.borderColor = "green";
			$('.message7').html('');
			flag = true;
		}
	}
	<!-- return flag; -->
if(flag==true){
		$(".next").click(function(){
		if(animating) return false;
		animating = true;
		
		current_fs = $(this).parent();
		next_fs = $(this).parent().next();
		
		//activate next step on progressbar using the index of next_fs
		$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
		
		//show the next fieldset
		next_fs.show(); 
		//hide the current fieldset with style
		current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
				//as the opacity of current_fs reduces to 0 - stored in "now"
				//1. scale current_fs down to 80%
				scale = 1 - (1 - now) * 0.2;
				//2. bring next_fs from the right(50%)
				left = (now * 50)+"%";
				//3. increase opacity of next_fs to 1 as it moves in
				opacity = 1 - now;
				current_fs.css({
			'transform': 'scale('+scale+')',
			'position': 'absolute'
		  });
				next_fs.css({'left': left, 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
				current_fs.hide();
				animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
		});
	});
}
}
function validation(val) {
	v5 = document.getElementById("uname");
	v6 = document.getElementById("passw");
	v7 = document.getElementById("cpassw");
	if(val>=5 || val==0) {
		if(v5.value == "") {
			v5.style.borderColor = "red";
			$('.message5').html('Username is required.');
			flag = false;
		}
		else {
			v5.style.borderColor = "green";
			$('.message5').html('');
			flag = true;
		}
	}
	if(val>=6 || val==0) {
		if(v6.value == "") {
			v6.style.borderColor = "red";
			$('.message6').html('Password is required.');
			flag = false;
		}
		else {
			v6.style.borderColor = "green";
			$('.message6').html('');
			flag = true;
		}
	}
	if(val>=7 || val==0) {
		if(v7.value == "") {
			v7.style.borderColor = "red";
			$('.message7').html('Confirm Password is required.');
			flag = false;
		}
		else {
			v7.style.borderColor = "green";
			$('.message7').html('');
			flag = true;
		}
	}
	var password = $("#passw").val();
	var confirmPassword = $("#cpassw").val();
	if (password != confirmPassword) {
		flag = false;
	}
	if(flag==true){
		$(".nextab").click(function(){
			if(animating) return false;
			animating = true;
			
			current_fs = $(this).parent();
			next_fs = $(this).parent().next();
			
			//activate next step on progressbar using the index of next_fs
			$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
			
			//show the next fieldset
			next_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
				step: function(now, mx) {
					//as the opacity of current_fs reduces to 0 - stored in "now"
					//1. scale current_fs down to 80%
					scale = 1 - (1 - now) * 0.2;
					//2. bring next_fs from the right(50%)
					left = (now * 50)+"%";
					//3. increase opacity of next_fs to 1 as it moves in
					opacity = 1 - now;
					current_fs.css({
				'transform': 'scale('+scale+')',
				'position': 'absolute'
			  });
					next_fs.css({'left': left, 'opacity': opacity});
				}, 
				duration: 800, 
				complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				//this comes from the custom easing plugin
				easing: 'easeInOutBack'
			});
		});
	}
}
</script> 
