<head>
	<link rel="stylesheet" href="/stylesheets/jq-steps/normalize.css">	
	<link rel="stylesheet" href="/stylesheets/jq-steps/main.css">	
	<link rel="stylesheet" href="/stylesheets/jq-steps/jquery.steps.css">	
	<link rel="stylesheet" href="/stylesheets/jq-steps/custom.css">	
	
	<script src="/js/jq-steps/modernizr-2.6.2.min.js"></script>	
	<script src="/js/jq-steps/jquery-1.11.1.min.js"></script>	
	<script src="/js/jq-steps/jquery.cookie-1.3.1.js"></script>	
	<script src="/js/jq-steps/jquery.steps.js"></script>	
	<script src="/js/jq-steps/jquery.validate.min.js"></script>
</head>
<body>
<!--<div class="pg-header">
	<h4 class="install_title"><span style="height:30px"><img  src="/images/Nifty-EWS.png" height="80%" /></span>Gym Master - GYM Management Installation Wizard</h4>
</div>-->
<div class="step-content">
	<Form id="install-form" class="form-horizontal">
		<div>
			<h3>Database Setup</h3>
				<section>
					<h4>Database Setup</h4>
					<hr/>
					<div class="form-group">
						<label class="control-label">Database Name<span class="text-danger"> *</span></label>
						<div class="col-md-12 p-0">
						<div class="input text">
						<input type="text" name="db_name" class="form-control required padding-css">
						</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label">Database Username<span class="text-danger">*</span></label>
						<div class="col-md-12 p-0">
						<div class="input text">
						<input type="text" name="db_username" class="form-control required padding-css">
						</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Database Password</label>
						<div class="col-md-12 p-0">
						<div class="input text">
						<input type="text" name="db_pass" class="form-control padding-css">
						</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Host<span class="text-danger"> *</span></label>
						<div class="col-md-12 p-0">
						<div class="input text">
						<input type="text" name="db_host" class="form-control required padding-css">
						</div>
						</div>
					</div>
					<div class="col-md-offset-3">
						<p> (*) Fields are required.</p>
					</div>
				</section>
			<h3>System Setting</h3>
			<section> 
			  <h4>System Setting</h4>
			  <hr/>
			  <div class="form-group">
				  <label class="control-label">System Name<span class="text-danger"> *</span></label>
				  <div class="col-md-12 p-0">
				  <div class="input text">
				  <input type="text" name="name" class="form-control required padding-css" value="EWS - Early Warning System">
				  </div>
				  </div>
			  </div>	
				<div class="form-group">
					<label class="control-label">Email <span class="text-danger">*</span></label>
					<div class="col-md-12 p-0">
					<div class="input text">
					<input type="text" name="email" class="form-control required email padding-css" value="">
					</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Date Formate</label>
					<div class="col-md-12 p-0">
					<select name="date_format" class="form-control plan_list required">
						<option value="m-d-Y">mm-dd-YYYY</option>
						<option value="m/d/Y">mm/dd/YYYY</option> 
						<option value="Y-m-d">YYYY-mm-dd</option>
						<option value="F j, Y">Month D, YYYY</option>
					</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">System Language</label>
					<div class="col-md-12 p-0">
						<select id="lang-selector" name="sys_language" class="form-control">
							<option value="en">English</option>
							<option value="hi">Hindi</option>
							<option value="fr">French</option>
							<option value="sp">Spanish</option>
						</select>				
					</div>
				</div> 
				<div class="col-md-offset-3">
						<p> (*) Fields are required.</p>
				</div>
			</section>  
			 <h3>Login Details</h3>
			<section>
			<h4>Login Details</h4>
					<hr/>
					<div class="form-group">
						<label class="control-label">Username<span class="text-danger"> *</span></label>
						<div class="col-md-12 p-0">
						<div class="input text">
						<input type="text" name="lg_username" class="form-control required padding-css">
						</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Password<span class="text-danger"> *</span></label>
						<div class="col-md-12 p-0">
						<div class="input text">
						<input type="password" id="password" name="password" class="form-control required password padding-css">
						</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label">Confirm Password<span class="text-danger"> *</span></label>
						<div class="col-md-12 p-0">
						<div class="input text">
						<input type="password" name="confirm" id="confirm" class="form-control required padding-css">
						</div>
						</div>
					</div> 			
			</section>
			<h3>Finish</h3>
			<section id="final">
				<h4>Please Note :</h4>
				<hr/>					
				<p>
					1. It may take couple of minutes to set-up database.
				</p>			
				<p>
					2. Do not refresh page after to you click on install button.
				</p>
				<p>
					3. You will be acknowledge with success message once after installation finishes.
				</p>
				<p>
					4. Click on install to complete the installation.
				</p>
				
				<div id="loader" style="display:none;">
					<p>			
						<hr/>
						<h4>Please Wait System is now installing..</h4>
					</p>
				</div>
			</section>
		</div>	
	</Form>
</div>
</body>
<script>
$(function ()
 {
	
var form = $("#install-form");
form.validate({
    errorPlacement: function errorPlacement(error, element) { element.before(error); },
    rules: {
        confirm: {
            equalTo: "#password"
        }
    }
});
form.children("div").steps({
	 labels: {
        cancel: "Cancel",
        current: "current step:",
        pagination: "Pagination",
        finish: "Install Now",
        next: "Next Step",
        previous: "Previous Step",
        loading: "Loading ..."
    },	
    headerTag: "h3",
    bodyTag: "section",	
    transitionEffect: "slideLeft",
    onStepChanging: function (event, currentIndex, newIndex)
    {
        form.validate().settings.ignore = ":disabled,:hidden";
        return form.valid();
    },
    onFinishing: function (event, currentIndex)
    {
		$("#loader").css("display","block");
        form.validate().settings.ignore = ":disabled";
        return form.valid();
    },
    onFinished: function (event, currentIndex)
    {				
        form.submit();
    }
});
});

</script>