@media (max-width: 380px) and (min-width: 320px)  { 
	.passwordtable{
		margin-left: -19px;
	}
	.loader_c {
		left: 22%;
	}

}
@media (max-width: 600px) and (min-width: 381px)  { 
	.loader_c {
		left: 25%;
	}

}
@media (max-width: 767px) and (min-width: 601px)  { 
	.loader_c {
		left: 28%;
	}

}
@media (max-width: 767px) and (min-width: 320px)  { 
	.main-menu.menu-light .navigation > li ul li > a {
		padding: 0px;
	}
	.main-menu.menu-light .navigation {
		overflow-x: scroll;
		overflow-y: scroll;
		
	}
	.header-navbar .navbar-container ul.nav li .dropdown-toggle::after {
		margin-left: -7px;
		top: -7px;
	}
	.home .user-div{
		padding-right: 0px !important;
	}
	.home .loan-div{
		padding-left: 0px !important;
	}
	#main-menu-navigation .nav-link {
	color: #404e67 !important;
	}
	.ews-viewuser h5{
		margin-bottom:15px;
	}
	.icon-care {
		left: 89%;
	}
	.padding-mobile{
		padding:0px 15px !important;
		text-align:left !important;
	}
	.padding-top-m{
		padding-top:15px !important;
	}
	.duration_hour{
		width:150px;
	}
	.icheckbox_flat-green, .iradio_flat-green {
		display: inline-table;
	}
	.k-pager-info.k-label,.k-widget.k-dropdown.k-header,.k-pager-sizes.k-label{
		display:none;
	}
}
@media (max-width: 992px) and (min-width: 768px)  { 
	#main-menu-navigation.nav .nav-item i{
		color:#ffffff;
	}
	.loader_c {
		left: 34%;
	}
	.header-navbar .navbar-container ul.nav li a.menu-toggle{
		display:none;
	}
	#main-menu-navigation.nav .nav-item .dropdown-item i{
		color:#404e67 !important;
	}
	.home .user-div{
		padding-right: 0px !important;
	}
	.home .loan-div{
		padding-left: 0px !important;
	}
	.ews-viewuser h5{
		margin-bottom:15px;
	}
	.icon-care {
		left: 89%;
	}
	.padding-mobile{
		padding:0px 15px !important;
		text-align:left !important;
	}
	.icheckbox_flat-green, .iradio_flat-green {
		display: inline-table;
	}
}
@media (max-width: 1023px) and (min-width: 993px)  { 
	#main-menu-navigation.nav .nav-item i{
		color:#ffffff;
	}
	#main-menu-navigation .nav-link{
		color:#ffffff !important;
	}
	.loader_c {
		left: 38%;
	}
	#main-menu-navigation.nav .nav-item .dropdown-item i{
		color:#404e67 !important;
	}
	.nav-menu-main.menu-toggle i{
		color:#404E67;
	}
	.home .user-div{
		padding-right: 0px !important;
	}
	.home .loan-div{
		padding-left: 0px !important;
	}
	.icon-care {
		left: 89%;
	}
	.padding-mobile{
		padding:0px 15px !important;
		text-align:left !important;
	}
}
@media (max-width: 1024px) and (min-width: 1366px)  { 
	#main-menu-navigation  li.setup ul.dropdown-menu{
		left: -70px;
	}
	.icon-care {
		left: 89%;
	}
}