<footer class="footer footer-static footer-light navbar-shadow">
	<div class="app-content center-layout mx-md-3 px-1">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 center-layout">
      <span class="float-md-left d-block d-md-inline-block">{{__ "Copyright &copy; 2019"}} <a href="#"
        target="_blank" class="text-bold-800 grey darken-2">{{__ "NIFTYEWS"}} </a>{{__ ", All rights
        reserved."}} </span>
      <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">
	  
	  </span> 
    </p>
	</div>
</footer>	
<!-- BEGIN VENDOR JS-->  
  <script src="/stylesheets/vendors/js/vendors.min.js"></script>  
  <!-- BEGIN VENDOR JS-->
	 <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
	 <script src="/js/jquery-ui_min.js" type="text/javascript"></script>
	 <script src="/js/jquery.min.js" type="text/javascript"></script>

  <!-- check box -->
  <script src="/stylesheets/vendors/js/forms/icheck/icheck.min.js" type="text/javascript"></script>
  <script src="/js/scripts/forms/checkbox-radio.js" type="text/javascript"></script>
  
  <!-- Touchspin JS-->
  <script src="/stylesheets/vendors/js/forms/toggle/switchery.min.js" type="text/javascript"></script>
 <script src="/stylesheets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js"
 type="text/javascript"></script>
<script src="/js/scripts/forms/input-groups.js" type="text/javascript"></script>
  <!--END Touchspin JS-->
  <!-- BEGIN PAGE VENDOR JS-->
  <script type="text/javascript" src="/stylesheets/vendors/js/ui/jquery.sticky.js"></script> 
  <script src="/stylesheets/vendors/js/extensions/unslider-min.js" type="text/javascript"></script>
  <script src="/stylesheets/vendors/js/timeline/horizontal-timeline.js" type="text/javascript"></script>
  <script src="/stylesheets/vendors/js/extensions/dragula.min.js" type="text/javascript"></script>
  <script src="/stylesheets/vendors/js/forms/select/select2.full.min.js" type="text/javascript"></script>
  <!-- END PAGE VENDOR JS-->
  <script src="/stylesheets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js"
  type="text/javascript"></script>
  <!-- BEGIN STACK JS-->
  <script src="/js/core/app-menu.js" type="text/javascript"></script>
  <script src="/js/core/app.js" type="text/javascript"></script>
   <script type="text/javascript" src="/stylesheets/vendors/js/charts/jquery.sparkline.min.js"></script>
  <script src="/stylesheets/vendors/js/charts/raphael-min.js" type="text/javascript"></script> 
  <!-- END STACK JS-->
  
  <!-- BEGIN PAGE LEVEL JS-->
  <script src="/stylesheets/vendors/js/charts/chart.min.js" type="text/javascript"></script>
  <script src="/js/scripts/charts/chartjs/pie-doughnut/pie.js" type="text/javascript"></script>
  <script src="/js/scripts/charts/chartjs/pie-doughnut/pie-simple.js"  type="text/javascript"></script>
  <script src="/js/scripts/charts/chartjs/pie-doughnut/doughnut.js"  type="text/javascript"></script>
  <script src="/js/scripts/charts/chartjs/pie-doughnut/doughnut-simple.js"  type="text/javascript"></script>
  <!-- END PAGE LEVEL JS-->
  
 <!-- Image Cropper -->
 <script src="/js/jquery.canvasCrop.js" defer=""></script>
  <script src="/js/cropper.js" defer=""></script>
  <script src="/js/main.js" defer=""></script>
 <!-- Image Cropper end-->
 
 
  <!--sweet alerts-->
  <script src="/js/scripts/extensions/sweet-alerts.js" type="text/javascript"></script>
  <!--sweet alerts end-->
	<!-- KENDO CSS-->
    <script src="/js/kendo.all.min.js"></script>
    <script src="/js/kendo.mobile.scroller.min.js"></script>
    <script src="/js/jszip.min.js"></script>
    <script src="/js/kendo.grid.min.js"></script>
	<!-- KENDO CSS END-->
  <!-- for full calenders  --->
   <script src="/stylesheets/vendors/js/extensions/moment.min.js" type="text/javascript"></script>
  <script src="/stylesheets/vendors/js/extensions/fullcalendar.min.js" type="text/javascript"></script>
  
  <script src="/js/scripts/extensions/fullcalendar.js" type="text/javascript"></script>
   <script src="/js/scripts/modal/components-modal.js" type="text/javascript"></script>
  <!-- BEGIN PAGE LEVEL JS-->
  <script type="text/javascript" src="/js/scripts/ui/breadcrumbs-with-stats.js"></script>
 <!-- <script src="app-assets/js/scripts/pages/dashboard-ecommerce.js" type="text/javascript"></script>-->
 <script src="/stylesheets/vendors/js/forms/toggle/bootstrap-checkbox.min.js"
  type="text/javascript"></script>
  <script src="/stylesheets/vendors/js/forms/toggle/switchery.min.js" type="text/javascript"></script>
  <script src="/js/scripts/forms/switch.js" type="text/javascript"></script>
  
   <script src="/stylesheets/vendors/js/charts/morris.min.js" type="text/javascript"></script>
  <script src="/js/scripts/charts/morris/donut.js" type="text/javascript"></script>
  <script src="/js/scripts/charts/morris/bar.js" type="text/javascript"></script>
  <script src="/js/scripts/cards/draggable.js" type="text/javascript"></script>
  <script src="/js/scripts/forms/select/form-select2.js" type="text/javascript"></script>
  
  <!-- END PAGE LEVEL JS-->
  
<!-- Datetime picker CSS-->  
	<script src="/stylesheets/vendors/js/pickers/dateTime/moment-with-locales.min.js" type="text/javascript"></script>
	<script src="/stylesheets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js"type="text/javascript"></script>
	<script src="/stylesheets/vendors/js/pickers/pickadate/picker.js" type="text/javascript"></script>
	<script src="/stylesheets/vendors/js/pickers/pickadate/picker.date.js" type="text/javascript"></script>
	<script src="/stylesheets/vendors/js/pickers/pickadate/picker.time.js" type="text/javascript"></script>
	<script src="/stylesheets/vendors/js/pickers/pickadate/legacy.js" type="text/javascript"></script>
	<script src="/stylesheets/vendors/js/pickers/daterange/daterangepicker.js" type="text/javascript"></script>
	<script src="/js/scripts/pickers/dateTime/pick-a-datetime.js" type="text/javascript"></script>
	<script src="/js/scripts/pickers/dateTime/bootstrap-datetime.js" type="text/javascript"></script>
<!-- END Datetime picker CSS-->  
  
  <!-- FORM VALIDATION JS-->
	<script src="/js/jquery.validate.min.js" type="text/javascript"></script>
  <!-- FORM VALIDATION JS END-->
  
  <!-- for data table --->
   
	<script src="/stylesheets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script> 
	<script src="/js/scripts/tables/datatables/datatable-basic.js" type="text/javascript"></script>
	   
  <!-- end data table -->
  
  <!-- Amortise JS 
		<script src="/js/bundle.js"></script>
  <!-- end Amortise JS -->
  
  
  <!-- Meterial design -->
  <script src="/stylesheets/material/material.min.js" type="text/javascript"></script>
   <script src="/stylesheets/vendors/js/forms/validation/jqBootstrapValidation.js"
  type="text/javascript"></script>
   <!-- END PAGE VENDOR JS-->
    
  <script src="/js/scripts/forms/validation/form-validation.js" type="text/javascript"></script>
  <script src="/stylesheets/vendors/js/forms/repeater/jquery.repeater.min.js" type="text/javascript"></script>
  <script src="/js/scripts/forms/form-repeater.js" type="text/javascript"></script>
  <!-- END PAGE LEVEL JS--> 