{{!-- <div id="loader-wrapper" class="hidden">
  <div id="loader">
    <!-- Your logo or loader content goes here -->
    <img src="/images/upload/generalsetting/{{session.company_logo}}" alt="Loader Logo">
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    setTimeout(function () {
      var loaderWrapper = document.getElementById('loader-wrapper');
      if (loaderWrapper) {
        loaderWrapper.classList.remove('hidden');
         setTimeout(function () {
          loaderWrapper.style.display = 'none'; // Hide the loader
        }, 500);
      } else {
        console.error('Loader wrapper element not found');
      }
    });
  });
</script> --}}